body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.hero{
  background: linear-gradient(to top right, #09201c, #26355e);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.hero-title{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 20px;
}
.hero-title button{
   background-color: lightblue;
   border-radius: 30px;
   width: 30px;
   height: 30px;
   border-color: transparent;

}
.hero-title h1{
    font-size: 95px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.hero-text p{
    font-size: 20px;
    font-style: oblique;
    font-family: 'Inter', sans-serif;
    color: rgb(109, 109, 109);
    margin-bottom: 50px;
}

.cta button{
    width: 200px;
    height: 50px;
    background-color: #2baf8a;
    border-color: transparent;
    border-radius: 5px;
    transition: 0.3s ease;
}

.cta button:hover{
    background-color: #239979;
    cursor: pointer;
}

.cta a{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.line{
    border-bottom: #1f234b 4px solid;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.About-title h1{
    font-size: 46px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.about-text p{
    text-align: center;
    font-family: 'Inter', sans-serif;
  font-size: 19px;
  color: rgb(87, 87, 87);
  line-height: 1.5;
}

.Services{
    height: 140vh;
    background-color: #F1FCFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Service-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.Services-heading h1{
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.box-1{
    border: 1px solid grey;
    border-radius: 5px;
    height: 280px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-title h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.service-text{
    font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: rgb(87, 87, 87);
  line-height: 1.5;
}

.box-1:hover{
    box-shadow: 2px 2px 8px 8px rgb(236, 236, 236);
  transition: 0.3s ease;
  cursor: pointer;
}

.svg{
    background-color: #A8DDD5;
    width: 60px; 
    height: 60px; 
    border-radius: 5px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.svg:hover{
    background-color: #97d8ce;
}

.container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
  color: #000;
  margin-bottom: 24px;
  font-size: 60px;
  margin-left: 500px;
}

.container p{
    text-align: center;
    font-family: 'Inter', sans-serif;
  font-size: 19px;
  color: rgb(87, 87, 87);
}




.form-group{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.form-input {
  font-size: 0.95rem;
  color: #1F234B;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #1f234b; 
  background-color: #f9fcfb;
  margin-bottom: 16px;
  transition: all 0.3s ease;
  width: 60%;
  height: 30px;
}

.form-group-1{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.form-input-1{
  font-size: 0.95rem;
  color: #1F234B;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #1f234b; 
  background-color: #f9fcfb;
  margin-bottom: 16px;
  transition: all 0.3s ease;
  width: 60%;
  height: 180px;
}


.form-button {
  font-size: 17px;
  font-weight: 500;
  background-color: #2BAF8A; 
  color: #FFFFFF;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 60vh;
}

.form-button:hover {
  background-color: #239979; 
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
    height: 100vh;
}

.line-1{
    border-bottom: #1f234b 4px solid;
    width: 120px;
    margin-left: 600px;
}

.hero-title-1{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 20px;
}
.hero-title-1 button{
   background-color: lightblue;
   border-radius: 30px;
   width: 15px;
   height: 15px;
   border-color: transparent;

}
.hero-title-1 h1{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-left: 90vh;
    padding: 0;
    margin-top: 60px;
    color: #FFFFFF;
}

.hero-text-1 p{
    font-size: 20px;
    font-style: oblique;
    font-family: 'Inter', sans-serif;
    color: rgb(109, 109, 109);
    margin-bottom: 50px;
    padding: 0;
}

.footer{
      background: linear-gradient(to top right, #09201c, #26355e);
    text-align: center;
    height: 200px;
}

.services-grid{
     display: flex; 
     justify-content: center; 
     align-items: center; 
     gap: 20px; 
     margin-top: 60px;
}

@media (max-width: 600px) {

  /* Hero section: smaller text */
  .hero-title-1 h1{
    font-size: 17px !important;
    margin: 0 !important;
  }
  .hero-subtitle {
    font-size: 1rem;
  }

  .services-grid {
    display: flex;
    flex-direction: column !important;
    gap: 20px;
  }

  .contact-form{
    margin-top: 150px;
  }

  .Service{
    gap: 20px;
  }
  .Services{
    margin-top: 90px;
  }

  .Service-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container h1{
    margin-left: 20px;
    margin-top: 220px !important;
}
.line-1{
    margin-left: 120px;
}

/* .form-button{
    width: 100px !important;
} */

 .box-1{
    width: 90% !important;
    height: 50% !important;
 }

  /* Contact form: inputs take full width */
  .contact-form {
    width: 100%;
  }

  .form-input {
    padding: 10px;
    font-size: 0.9rem;
  }

  .form-button {
    width: 60%;
    padding: 12px 0;
  }

  .hero-title h1{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
}


#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none; /* hidden by default */
  z-index: 1000;
}

.form-button-0 {
  font-size: 17px;
  font-weight: 500;
  background-color: #2BAF8A; 
  color: #FFFFFF;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 10vh;
}

.form-button-0:hover {
  background-color: #239979; 
}